################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VacationHire/v16
bin
obj
/.vs/VacationHire/DesignTimeBuild/.dtbcache
